@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;

  padding: 5px 4px;
}

.logo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 38%;
  border: 2px solid white;
  border-radius: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 50%;
  /* background-color: antiquewhite; */
}

.rightNav {
  /* background-color: aqua; */
  width: 50%;
  text-align: right;
}

.nav-list li {
  list-style: none;
  padding: 7px 19px;
}

.nav-list li a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  font-size: 18px;
}

.nav-list li a:hover {
  color: burlywood;
}

#search {
  padding: 8px;
  margin: 1px;
  border-radius: 10px;
}

.background {
  background: rgba(0, 0, 0, 0.7) url(../img/546689.jpg);
  background-size: cover;
  background-blend-mode: lighten;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  max-width: 70%;
  margin: auto;
  height: 80%;
}

.firstSection {
  height: 100vh;
}

.firstHalf {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.secondhalf img {
  width: 250px;
  height: 250px;
  border: 2px solid white;
  border-radius: 130px;
  display: block;
  margin: auto;
  margin-bottom: 55px;
}

.text-big {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn {
  padding: 5px 5px;
  margin: 5px 2px;
  border: 2px solid whitesmoke;
  border-radius: 13px;
  font-size: 15px;
  background: none;
  color: aliceblue;
  cursor: pointer;
}

.btn-sm {
  vertical-align: center;
  padding: 2px 6px;
}

.section {
  max-width: 80%;
  margin: auto;
  display: flex;
  font-family: "Pangolin", cursive;
}

.sec1 {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
}

.para {
  padding: 0px 50px;
}

.left {
  flex-direction: row-reverse;
}

.contact {
  background-color: #eef1f3;
  height: 58vh;
}

.text-center {
  margin-top: 5px;
  text-align: center;
  font-family: "Pangolin", cursive;
}

.form {
  max-width: 300px;
  margin: auto;
}

.forminput {
  width: 100%;
  font-size: 17px;
  padding: 5px 2px;
  margin: 13px 7px;
  border-radius: 9px;
}

.dark {
  color: black;
  border-color: black;
  text-align: center;
}

.text-footer {
  text-align: center;
}
